<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    {{>header}}
    <div class="main-content">
        <img class="portrait" src="img/robot.png">
    </div>

    {{>footer}}
</body>

</html>