<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    {{>header}}
    <div class="main-content">
        <center>
            <p> This site was created by Tanya Samyal. It uses data from mapbox.com and open-weather api! </p>
            <img class="portrait" src="img/robot.png">
        </center>
    </div>

    {{>footer}}
</body>

</html>