<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
        <a class="navbar-brand" href="/">Weather</a>
        <a class="nav-link ms-0" href="/about">About</a>
        <a class="nav-link" href="/help">Help</a>

    </nav>
    <center>
        <h1>{{title}}</h1>
    </center>
</header>